body {
  font-family: arial;
  background-image: url(spring-3404.gif);
  border: 10px solid rgb(180, 59, 59);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

header {
  border-radius: 100px 30px 0px;
  font-size: "Open Sans Condensed", "Arial", sans-serif;
  text-align: center;
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  padding: 40px;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(blue-floral-background_1035-7431.avif) 50 round;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  background-color: #f90;
  padding: 20px;
}
 
aside {
  padding: 20px;
  background-color: #936;
}

footer {
  text-align: center;
  font-size: 1.4em;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.segundo {
  display: flex;
  justify-content: space-evenly;
}
#texto {
  color: rgb(145, 54, 12);
  text-decoration-line: underline;
  text-decoration-style: double;
  text-shadow: 0 0 3px #FF0000;
}
#msc {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border-radius: 100px;
  border-style: double;
}

#text {
  background-color: aquamarine;
  font-family: "Lucida Console", "Courier New", monospace
}
ul li {
  background-image: linear-gradient(to right, rgba(204, 90, 233, 0.822), rgb(231, 235, 30));
  color: darkblue;
  margin: 5px;
}
ul {
  background-image: linear-gradient(to right, rgba(204, 90, 233, 0.822), #e7eb1e);
  padding: 20px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
#kiss {
  color: darkblue;
  background-color: #e7eb1e;
  font-family: 'Courier New', Courier, monospace;
}
.formname {
  background-image: linear-gradient(to left, rgba(204, 90, 233, 0.822), #e7eb1e);
  padding: 20px;
  color: darkblue;
  font-family: 'Courier New', Courier, monospace;
}
#ft {
  font-size: larger;
  color: rgb(109, 255, 80);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#par {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: rgb(109, 255, 80);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.coop {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: rgb(109, 255, 80);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#fot {
  width: 200px;
  float: right;

}